body{
  color:indigo;
}
p {
    color:rgb(255, 0, 0);
  }
/* a { 
   text-decoration: none;
   color:rgb(133, 27, 27);
  }
.text {
  text-decoration: line-through;
  text-align: right;
  }
.b {
  font-weight: bold;
  }
.second-class{
        font-weight: bold;
  }
#ds{
    color: coral;
    text-align: center;
  } */

.background-buisness-card{
  width: 500px;
  background:linear-gradient(#ffffff ,#2600ff ,#ff0000);
  border-radius: 5%;
  margin: 20vh auto;
}
.buisness-card-content{
  display: flex;
  align-items:center;
}
.buisness-card-text{
  margin-left: 55px;
}
.buisness-card-logo{
padding: 10px;;
} 